/* Add this CSS to your stylesheets */
.side-menu {
  position: fixed;
  left: -100%;
  top: 0;
  height: 100%;
  width: 300px; /* Adjust the width as needed */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 999;
}

.side-menu.open {
  z-index: 999;
  left: 0;
}

.menu-content {
  padding: 20px;
  backdrop-filter: blur(5px);
}

.close-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.close-button:hover {
  background-color: #d32f2f;
}
